# 
# Name: Metro Style Conky II
#
# Author: Kant-o (feedback via gnome-look).
# 

alignment top_left

own_window_colour D45D5D
background yes
use_xft yes
xftfont Cantarell:size=11:bold

default_outline_color d45d5d
draw_outline yes

default_shade_color d97575
default_color d97575
draw_shades yes
border_width 0
border_inner_margin 10
border_outer_margin 0
draw_borders yes

# gap_x 370
# gap_y 400

# size of text area
minimum_size 200 0
maximum_width 250
max_text_width 250

no_buffers yes
out_to_console no
out_to_stderr no
extra_newline no
own_window yes
own_window_transparent no
own_window_class MStyleConkyII_CPU_Memory
own_window_type dock
own_window_hints undecorated,below,sticky,skip_taskbar,skip_pager
stippled_borders 0
update_interval 1.0
uppercase no
use_spacer none

show_graph_scale no
show_graph_range no

# Use double buffering (reduces flicker, may not work for everyone)
double_buffer yes

gap_x 370
gap_y 400
own_window_argb_value 230
own_window_argb_visual yes
TEXT
${color fde2e2}#
${font Cantarell:size=26}cpu, memory$font 

CPU$alignc${color d97575}${offset 2}   ${cpugraph 12, 120 d45d5d fde2e2}${color fde2e2}$alignr$cpu%
RAM$alignc${color d97575}   ${memgraph 12, 120 d45d5d fde2e2}${color fde2e2}$alignr$memperc%
$alignc $mem / $memmax

SWP$alignc${color d97575}  ${swapbar 12, 120}$alignr${color fde2e2}$swapperc%
