# 
# Name: Metro Style Conky II
#
# Author: Kant-o (feedback via gnome-look).
# 

alignment top_left

own_window_colour 4AB86B
background yes
use_xft yes
xftfont Cantarell:size=11:bold

default_outline_color 4cb06b
draw_outline yes

default_shade_color 66c383
default_color 66c383
draw_shades yes
border_width 0
border_inner_margin 10
border_outer_margin 0
draw_borders yes

# size of text area
minimum_size 200 0
maximum_width 250
max_text_width 250

no_buffers yes
out_to_console no
out_to_stderr no
extra_newline no
own_window yes
own_window_transparent no
own_window_class MStyleConkyII_Filesystem
own_window_type normal
own_window_hints undecorated,sticky,skip_taskbar,skip_pager,below
stippled_borders 0
update_interval 60
uppercase no
use_spacer none

# Use double buffering (reduces flicker, may not work for everyone)
double_buffer yes

gap_x 630
gap_y 560
own_window_argb_value 0
own_window_argb_visual no
TEXT
${color d7f8e1}#
${font Cantarell:size=26}Filesystem$font 

root $alignr${fs_used /} / ${fs_size /} ${color 66c383}${fs_bar 11,40 /}${color d7f8e1}
${if_match "${fs_used_perc /home}" != "${fs_used_perc /}"}#
home $alignr${fs_used /home} / ${fs_size /home} ${color 66c383}${fs_bar 11,40 /home}${color d7f8e1}
$else#
${color 66c383}$alignr${fs_used_perc /}%
$endif#
