# 
# Name: MStyle Conky II
#
# Author: Kant-o (feedback via gnome-look).
# 

alignment top_left

own_window_colour CDC569
background yes
use_xft yes
xftfont Cantarell:size=11:bold

default_outline_color c4bc5f
draw_outline yes

default_shade_color d9d281
default_color d9d281
draw_shades no
border_width 0
border_inner_margin 10
border_outer_margin 0
draw_borders yes

# gap_x 125
# gap_y 300

# size of text area
minimum_size 200 30
maximum_width 250
max_text_width 250

no_buffers yes
out_to_console no
out_to_stderr no
extra_newline no
own_window yes
own_window_transparent no
own_window_class MStyleConkyII_kernel
own_window_type normal
own_window_hints undecorated,sticky,skip_taskbar,skip_pager,below
stippled_borders 0
update_interval 1.0
uppercase no
use_spacer none

# Use double buffering (reduces flicker, may not work for everyone)
double_buffer yes

gap_x 100
gap_y 540
own_window_argb_value 0
own_window_argb_visual no
TEXT
${color ffffff}#
${font Cantarell:size=26}$sysname$font
$kernel kernel
$machine machine
