# 
# Name: MStyle Conky II
#
# Author: Kant-o (feedback via gnome-look).
# 

alignment top_left

own_window_colour 9F90AC
background yes
use_xft yes
xftfont Cantarell:size=11:bold

default_outline_color 9c90a7
draw_outline yes

default_shade_color b5abbf
default_color b5abbf
draw_shades no
border_width 0
border_inner_margin 10
border_outer_margin 0
draw_borders yes

# gap_x 865
# gap_y 400

# size of text area
minimum_size 200 231
maximum_width 250
max_text_width 250

no_buffers yes
out_to_console no
out_to_stderr no
extra_newline no
own_window yes
own_window_transparent no
own_window_class MStyleConkyII_Network
own_window_type dock
own_window_hints undecorated,below,sticky,skip_taskbar,skip_pager
stippled_borders 0
update_interval 1.0
uppercase no
use_spacer none

show_graph_scale no
show_graph_range no

# Use double buffering (reduces flicker, may not work for everyone)
double_buffer yes

gap_x 865
gap_y 400
own_window_argb_value 230
own_window_argb_visual yes
TEXT
${color ede5f4}#
${font Cantarell:size=26}Network$font 

$nodename
${if_up wlp3s0}#
${addr wlp3s0} (LAN) 
#${pre_exec wget -O - http://ip.tupeux.com | tail} (WAN)

Wireless
Download $alignr Total: ${totaldown wlp3s0}
${downspeed wlp3s0} $alignr${color a28db5}${downspeedgraph wlp3s0 10,100 b19ec3 ede5f4}$color
${color ede5f4}#
Upload $alignr Total: ${totalup wlp3s0}
${upspeed wlp3s0} $alignr${color a28db5}${upspeedgraph wlp3s0 10,100 b19ec3 ede5f4}$color
$else#
${if_up eth0}#
${addr eth0} (LAN) 
${pre_exec wget -O - http://ip.tupeux.com | tail} (WAN)

Wired
Download $alignr Total: ${totaldown wlp3s0}
${downspeed wlp3s0} $alignr${color a28db5}${downspeedgraph wlp3s0 10,100 b19ec3 ede5f4}$color
${color ede5f4}#
Upload $alignr Total: ${totalup wlp3s0}
${upspeed wlp3s0} $alignr${color a28db5}${upspeedgraph wlp3s0 10,100 b19ec3 ede5f4}$color
$else#
${if_up wlan0}#
${addr wlan0} (LAN)
${pre_exec wget -O - http://ip.tupeux.com | tail} (WAN)

Wireless
Download $alignr Total: ${totaldown wlp3s0}
${downspeed wlp3s0} $alignr${color a28db5}${downspeedgraph wlp3s0 10,100 b19ec3 ede5f4}$color
${color ede5f4}#
Upload $alignr Total: ${totalup wlp3s0}
${upspeed wlp3s0} $alignr${color a28db5}${upspeedgraph wlp3s0 10,100 b19ec3 ede5f4}$color
$else#
${if_up eth0}#
${addr eth0} (LAN) 
${pre_exec wget -O - http://ip.tupeux.com | tail} (WAN)

Wired
Download $alignr Total: ${totaldown wlp3s0}
${downspeed wlp3s0} $alignr${color a28db5}${downspeedgraph wlp3s0 10,100 b19ec3 ede5f4}$color
${color ede5f4}#
Upload $alignr Total: ${totalup wlp3s0}
${upspeed wlp3s0} $alignr${color a28db5}${upspeedgraph wlp3s0 10,100 b19ec3 ede5f4}$color
$else#
Configured devices down.






$endif#
$endif#
$endif#
$endif#
